body {
    font-family: 'Helvetica', sans-serif;
    background: #010A1A;
    min-height: 100vh;
    cursor: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 40px;
}

.title {
    align-self: center;
    font-size: 16px;
    font-weight: lighter;
    color: #999DA3;
    text-align: center;
    margin-bottom: 12px;
}

.cursor {
    position: fixed;
    width: 300px;
    height: 300px;
    z-index: 999;
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('awake.png');
    transform: translate(-50%, -50%)
}

.cursor.sleep1 {
    background-image: url('sleep1.png')
}

.cursor.sleep2 {
    background-image: url('sleep2.png');
}

.cursor.sleep3 {
    background-image: url('sleep3.png');
}

.mattress-row {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.mattress-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-size: 320px 400px;
    background-position: center; 
    background-repeat: no-repeat;
    min-width: 300px;
    position: relative; 
}

.mattress-container:hover {
    animation: wiggle 0.5s ease-in-out infinite;
}

.mattress-container:hover .butt {
    bottom: 10px;
    opacity: 1;
}

.mattress {
    width: 320px;
    height: 400px;
    margin: 1px;
    cursor: none;
    align-self: center;
}

.butt {
    width: 148px;
    height: 36px;
    font-size: 12px;
    color: #999DA3;
    background-color: transparent;
    text-align: center;
    border: 0.5px #999DA3 solid;
    padding: 2px 8px;
    border-radius: 80px;
    cursor: none;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 10;
}


@keyframes wiggle {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-1deg); }
    75% { transform: rotate(1deg); }
}