body {
    font-family: 'Helvetica', sans-serif;
    background: #010A1A;
    min-height: 100vh;
    cursor: none;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
}

.title {
    align-self: center;
    font-size: 48px;
    color: transparent; 
    -webkit-text-stroke: 0.6px white;
    text-align: center;
    font-family: "Cossette Titre", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -88px;
    padding-left: 5%;
    padding-right: 5%;
    letter-spacing: -1px;
    padding-bottom: 2%;
    text-transform: uppercase;
    opacity: 80%
}

.description {
    align-self: center;
    font-size: 11px;
    font-weight: lighter;
    color: #bec3cb;
    text-align: center;
    margin-top: 8px;
    margin-left: 32%;
    margin-right: 32%;
    margin-bottom: 12px;
    line-height: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cursor {
    position: fixed;
    background-image: url('zzz.png');
    width: 60px;
    height: 60px;
    z-index: 999;
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
}

.cursor.awake {
    position: fixed;
    width: 300px;
    height: 300px;
    background-image: url('awake.png');
}

.cursor.sleep1 {
    background-image: url('sleep1.png');
    width: 300px;
    height: 300px;
}

.cursor.sleep2 {
    background-image: url('sleep2.png');
    width: 320px;
    height: 320px;
}

.cursor.sleep3 {
    background-image: url('sleep3.png');
    width: 300px;
    height: 300px;
}

.container {
    width: 100%;
}

.mattress-row {
    animation: 0.8s ease-in-out 0s 1 slideInFromBottom;
    display: flex;
    gap: 42px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 188px;
}

.mattress-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-size: 360px 420px;
    background-position: center; 
    background-repeat: no-repeat;
    min-width: 300px;
    position: relative; 
}

.mattress-container:hover {
    animation: wiggle 0.5s ease-in-out infinite;
}

.mattress-container:hover .butt {
    bottom: 2px;
    opacity: 1;
}

.mattress {
    width: 320px;
    height: 400px;
    margin: 1px;
    cursor: none;
    align-self: center;
}

.butt {
    width: 220px;
    height: 32px;
    font-size: 24px;
    color: #C0C9D1;
    background-color: transparent;
    text-align: center;
    border: none;
    line-height: 26px;
    /* border: 0.5px #C0C9D1 solid;
    padding: 2px 8px;
    border-radius: 0.5px; */
    cursor: none;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 10;
    font-family: "Cossette Titre", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: transparent; 
    -webkit-text-stroke: 0.5px white;
}

text {
    font-family: "Cossette Titre", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;

    font-size: 52px;
    fill: #010A1A; 
    text-anchor: middle; 
    z-index: 10;
  }

.menu {
    position: sticky; 
    top: 0;
    margin-bottom: -260px;
    width: 100%;
    background: linear-gradient(to bottom, #91BBF6 0%, #91BBF6 calc(100% - 60px), transparent 100%);
    color: black;
    white-space: nowrap;
    z-index: -1;
    padding: 24px 0px 288px 0px;
    justify-items: center;
    border-bottom: 0.8px black solid;
    cursor: none;
    transition: all 0.3s ease;
}

.menu.scrolled {
    padding: 18px;
    background: transparent;
    mask: none;
    -webkit-mask: none;
    border-bottom: none;
    z-index: 10;

}

.menu .logo {
    font-size: 54px;
    z-index: 10;
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "YEAR" 1979;
    transition: color 0.3s ease;
}

.menu.scrolled .logo {
    color: #FF6CBA;
    -webkit-text-stroke: 1px black;
}

.marquee-banner {
    position: static;
    top: 0;
    width: 100%;
    background: #DCFF68;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    z-index: 10;
    padding: 8px 0px 8px 0px;
    font-family: "Cossette Titre", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2%;
    border-bottom: 0.8px black solid;
  }
  
  .marquee-track {
    display: flex;
    width: max-content;
    animation: scroll-left 15s linear infinite;
  }
  
  .marquee-text {
    padding-right: 24px;
  }

  .section {
    margin-top: 12px;
    margin-bottom: 0px;
    padding: 24px 0px 24px 0px;
    width: 100%;
    background: #DCFF68;
    color: black;
  }

  .section .about{
    font-size: 24px;
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-variation-settings: "YEAR" 1979;
    max-width: 50%;
    color: transparent;
    -webkit-text-stroke: 1px black;
  }


  .section-row {
    display: flex;
    justify-content: center;  
    align-items: center;       
    font-size: 24px;
    text-align: center;
    gap: 82px;
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;

    font-family: "Cossette Titre", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .section b {
    font-size: 16px;
    padding: 16px;
    opacity: 20%;
  }

  .section p {
    max-width: 290px;
  }

  .section i {
    opacity: 50%;
    font-size: 16px;
  }

  .footer {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;  
    align-self: center;
    flex-direction: row;
  }

  .footer .links{
    flex-direction: column; 
    align-items: flex-start;
    display: flex;
    gap: 12px;  
    color: white;
  }

  .footer .links a {
    color: white;
    opacity: 80%;
    text-decoration: none;
    transition: color 0.2s ease;

    font-family: "Cossette Titre", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;

  }
  
  .footer .links a:hover {
    color: hotpink; 
    text-decoration: underline hotpink;
    text-underline-offset: 3px;
    text-decoration-style: wavy;
    cursor: none;
  }
  
  .footer .credit {
    display: flex;
    font-size: 10px;
    color: white;
    opacity: 40%;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-24.9%);
    }
  }


@keyframes wiggle {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-1deg); }
    75% { transform: rotate(1deg); }
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }